body, html {
  font-size: 62.5%;
	margin:0;
	font-family:'helvetica';
	color:white;
	
}
#body{
	background-image:url("../img/cool-pictures-21.jpg");
	background-size:100%;    
	background-repeat:no-repeat;/* <------ */ 
	background-color:black;
}
nav{
	background-color:#002654;
	opacity: 0.85;
	text-align:center;
}
nav > h1{
	color:gold;
	font-size: 3rem;
	font-style:oblique;
}
div>img{
	float: left;
	margin: 10px;
	border: 2px solid white;
}
#personalinfo{
	
	float:left;
}
#personal{
	float:left;
}

#ul_holder{
	margin-left:0px;
	float:left;
	clear:left;
	
}
#ul_random{
	float:right;
}
#boba{
	float:right;
	clear:right;
}
#things_i_love{
	float:left;
	text-align:right;
}
div>p, li{
	font-size:1.5rem;
}
.std-paragraph{
  color:green;
  font-size: 2rem;
	
}
#home{
	margin:20px;
}

section1{
	display:inline-block;
}
nav ul{
  list-style:none;
  padding:0;
  
}

nav ul li{
  display: inline; 
  font-size:2rem;
  margin:20px;
}
nav ul li > a {
  font-family:'helvetica';
  text-decoration:none;
  color:white;
}
nav ul li >a:hover{
 
 text-decoration:underline;
 color:gold;
}
nav ul li >a:active{
  color:gold;
}
footer{
	clear:both;
}
footer p{
	color:navy;
  font-size:2rem;
  background-color:gold;
	opacity: 0.85;
	text-align:center;
}
footer ul {
  list-style:none;
  padding:0;
}
footer ul li {
  font-weight:bold;
  font-size:3rem;
  display: block; 
  margin-left:20px;
}
form label{
  font-size:2rem;
}